.side {
  height: 93vh !important; /* cover the complete page */
  width: 175px; /* set the width of the sidebar */
  /* position: fixed; fix the sidebar to the left of the page */
 overflowY: hidden !important; 
 /* outline: 1px solid red; */
 z-index: 9999999;
   /* make sure it's on top of other elements */
}

.side a {
  color: white; /* white text */
  text-decoration: none;
}

.side a:hover {
  color: text-secondary; /* light gray text on hover */
  background-color: bg-dark; /* dark gray background on hover */
}

